{{#if loggedIn}}
<section class="container">
    <h3 class="dashboard-title">{{user.username}} is now <span class="logo-span-1">ONline</span></h3>
    <div class="give-some-space">
        <a href="/events" class="btn btn-primary">Create Event</a>
    </div>
    <div>
        <a class="btn btn-primary">View Users</a>
        <a href="/events" class="btn btn-primary">View Events</a>
    </div>
    <div class="userlist">
        {{#each users as |user| }}
        <div>
            <h4>
                {{user.username}}
            </h4>
        </div>
        {{/each}}
    </div>
    <div class="eventlist">
        {{#each events as |event| }}
        <div>
            <h4>
                {{event.title}}
            </h4>
        </div>
        <div>
            <h5>
                {{event.description}}
            </h5>
        </div>
        {{/each}}
    </div>
</section>
{{else}}
{{> login-details}}
{{/if}}