{{#if loggedIn}}
<section class="container">
    <h3 class="dashboard-title">{{user.username}} is now <span class="logo-span-1">ONline</span></h3>
    <div class="give-some-space">
        <a href="/events" class="btn btn-primary">Create Event</a>
    </div>
    <div id="events-list">
        {{#each events}}
        <div class="event">
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <p>{{this.date}} at {{this.time}}</p>
            <button class="edit-event-btn" data-id="{{this.id}}">Edit</button>
            <button class="delete-event-btn" data-id="{{this.id}}">Delete</button>
        </div>
        {{/each}}
    </div>
</section>
{{else}}
{{> login-details}}
{{/if}}