{{#if loggedIn}}
<section class="container">
    <h3>Create a New Event</h3>
    <form id="create-event-form">
        <div class="form-group">
            <label for="event-title">Event Title</label>
            <input type="text" id="event-title" name="title" required>
        </div>
        <div class="form-group">
            <label for="event-description">Event Description</label>
            <textarea id="event-description" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="to">Enter your Email</label>
            <input type="email" name="to" id="to">
        </div>
        <div class="form-group">
            <label for="event-date">Event Date</label>
            <input type="date" id="event-date" name="date" required>
        </div>
        <div class="form-group">
            <label for="event-time">Event Time</label>
            <input type="time" id="event-time" name="time" required>
        </div>
        <button type="submit">Create Event</button>
    </form>
        {{#each events}}
        <div class="event">
            <h2 id="upcoming-event-title">{{this.title}}</h2>
            <h3 id="upcoming-event-id"> {{this.id}} </h3>
            <p id="upcoming-event-description">{{this.description}}</p>
            <p>{{this.date}} at {{this.time}}</p>
            <div id="upcoming-event-date" display="none"> {{this.date}} </div>
            <div id="upcoming-event-time" display="none"> {{this.time}} </div>
            <a id="edit" class="button" href="./edit.handlebars" id="{{this.id}}"><b>Edit</b></a>
            <button class="delete-event-btn" data-id="{{this.id}}">Delete</button>
        </div>
        {{/each}}
    </div>
</section>
{{else}}
{{> login-details}}
{{/if}}

<script src="../../js/events.js"></script>
<script src="../../js/nodeMailer.js"></script>
<script src="../../js/events.js"></script>
