{{#if loggedIn}}
<section class="container">
    <h3>Create a New Event</h3>
    <form id="create-event-form">
        <div class="form-group">
            <label for="event-title">Event Title</label>
            <input type="text" id="event-title" name="title" required>
        </div>
        <div class="form-group">
            <label for="event-description">Event Description</label>
            <textarea id="event-description" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="event-date">Event Date</label>
            <input type="date" id="event-date" name="date" required>
        </div>
        <div class="form-group">
            <label for="event-time">Event Time</label>
            <input type="time" id="event-time" name="time" required>
        </div>
        <button type="submit">Create Event</button>
    </form>

    <!-- Edit Event Form -->
    <form id="edit-event-form" style="display: none;">
        <input type="hidden" id="edit-event-id">
        <div class="form-group">
            <label for="edit-event-title">Event Title</label>
            <input type="text" id="edit-event-title" name="title" required>
        </div>
        <div class="form-group">
            <label for="edit-event-description">Event Description</label>
            <textarea id="edit-event-description" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="to">Enter your Email</label>
            <input type="email" name="to" id="to">
        </div>
        <div class="form-group">
            <label for="edit-event-date">Event Date</label>
            <input type="date" id="edit-event-date" name="date" required>
        </div>
        <div class="form-group">
            <label for="edit-event-time">Event Time</label>
            <input type="time" id="edit-event-time" name="time" required>
        </div>
        <button type="submit">Update Event</button>
    </form>

    <div id="events-list">
        {{#each events}}
        <div class="event">
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <p>{{this.date}} at {{this.time}}</p>
            <button class="edit-event-btn" data-id="{{this.id}}">Edit</button>
            <button class="delete-event-btn" data-id="{{this.id}}">Delete</button>
        </div>
        {{/each}}
    </div>
</section>
{{else}}
{{> login-details}}
{{/if}}

<script src="../../js/events.js"></script>